<div :class="formGroupClass">
    <label :for="id" v-if="label" :class="formLabelClass"><span v-if="showRequiredHint" v-show="required" class="text-danger">*</span>{{label}}</label>
    <div :class="formDivControlClass">
        <textarea
            :class="formControlClass"
            :id="id"
            :name="name"
            :rows="rows"
            :required="required"
            :disabled="disabled"
            v-bind:value="value"
            v-on:input="onInput"></textarea>
    </div>
    <small class="text-muted" v-if="description" v-html="description"></small>
</div>
