<div :class="formGroupClass">
    <label :for="id" v-if="label" :class="formLabelClass">{{label}}</label>
    <!-- single select -->
    <div :class="formDivControlClass">
        <select :required="required" :class="formControlClass" :name="name" :id="id" v-bind:value="value" v-on:input="onInput">
            <option v-for="option in allOptions" v-bind:value="option.value">{{option.text}}</option>
        </select>
    </div>
    <small class="text-muted" v-if="description" v-html="description"></small>
</div>
