<div :class="formGroupClass">
    <label :for="id" v-if="label" :class="formLabelClass"><span v-if="showRequiredHint" v-show="required" class="text-danger">*</span>{{label}}</label>
    <div :class="formDivControlClass">
        <input
            :required="required"
        	:type="type"
        	:class="formControlClass"
            :name="name"
        	:id="id"
        	:placeholder="placeholder"
        	v-bind:value="value"
        	v-on:input="onInput"
            >
    </div>
    <small class="text-muted" v-if="description" v-html="description"></small>
</div>
